#root {
  padding: 12px;
  outline: 1px solid #F1F1F1;
}

button {
  padding: 0.6em 0.9em;
  font-size: 1em;
  
  cursor: pointer;
  border: 0;
  outline: none;

  background-color: #ff1111;
  color: #ffffff;
  will-change: background-color;
  transition: background-color 250ms ease-in-out;
}

button:hover {
  background-color: #e41717;
}



